body{
    background-color: #B2A4FF;
    margin: 0;
    text-align: center;
}
h1{
    color:  #EB1D36;
    font-size: 100px;
    margin-bottom: 6%;
}
p{
    font-size: 40px;
    padding-top: 20px;
}
.container{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    color: white;
    margin-top: 4%;
}